body, .green h1, .green p {
	margin: 0;
}
header, footer {
	height: 110px;
}
header img {
	width: 212px;
	height: 45px;
	margin-top: 30px;
	margin-left: 10px;
}
a {
	text-decoration: none;
}
a, h1, p {
	font-family: arial;
	font-weight: 100;
	text-shadow: 0px 0px 1px;
}
.top {
	float: right;
	padding-top: 40px;
}
.top a {
	color: #393939;
    line-height: 22px;
    font-size: 14px;
    margin-right: 5px;
    margin-left: 20px;
}
.promo, main, a, button {
	color: white;
}
.third-block p, .green p, .green button, .facebook-link a {
	line-height: 22px;
    font-size: 16px;
}
.first-block, .second-block, .second-block img, .third-block, 
.green, .autumn, .autumn img, .grass, .grass img, .facebook {
	height: 100%;
}
.promo img, .second-block img, .autumn img, .grass img {
	width: 100%;
}
.container {
	width: 1000px;
	margin: auto;
}
/*promo========================================*/
.promo {
	text-align: center;
	height: 600px;
}
.promo img {
	height: 600px;
}
.promo-headline {
	margin-top: -400px;
}
.promo h1 {
	font-size: 50px;
	margin-bottom: 0;
}
.promo p {
	font-size: 24px;
    line-height: 38px;
    margin-top: 0;
}
/*main*/
/*first line*/
.first-line, .second-line, .third-line {
    height: 326px;
}
.first-block {
	width: 33%;
    float: left;
    background: #f1efec;
}
.first-block a {
	margin-left: 10px;
}
.first-block img {
    margin-top: 40%;
    /*width: 277px;*/
    width: 88%;
    height: 59px;
}
.second-block {
	width: 34%;
	float: left;
}
.third-block {
	background: #9b242d;
    width: 33%;
    float: right;
    text-align: center;
}
.third-block h1 {
	margin-top: 120px;
}
.third-block a {
	font-size: 40px;
}
.third-block p {
	margin-bottom: 0;
    margin-top: -15px;
}
/*second line===============================================*/
.green {
	width: 67%;
	background: #46a651;
	float: left;
}
.green h1 {
    padding: 45px 50px 0;
    text-align: right;
    font-size: 40px;
}
.green p {
    text-align: right;
    padding: 15px 50px 0;
}
.green button {
	float: right;
    margin: 25px 50px;
    background: #348e3e;
    border: none;
    width: 120px;
    height: 40px;
}
.autumn {
	width: 33%;
	float: right;
}
/*third line===============================================*/
.grass {
	width: 67%;
	float: left;
}
.facebook {
	background: #3b5997;
    width: 33%;
    float: right;
}
.facebook-icon {
    text-align: center;
    margin-top: 100px;
}
.facebook-link {
	text-align: center;
}
/*footer===============================================*/
footer {
	background: #373838;
}
nav {
	text-align: center;
	padding-top: 50px;
}
nav a {
	color: #939393;
	font-size: 15px;
	line-height: 22px;
    margin: 0 35px 0 35px;
}