footer {
	padding-top: 5px;
	background: #373c3f;
	color: white;
	font-size: 18px;
	line-height: 26px;
}
ul {
	height: 50px;
}
ul li{
	display: inline;
	padding-left: 21px;
}
main {
	margin-top: -40px;
}
.top {
	background: #16b1c4;
	height: 450px;
}
h1, a, h2, p {
	margin-left: 60px;
}
a, h2 {
	opacity: 0.5;
}
h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
h1 {
    color: white;
    line-height: 65px;
    font-size: 60px;
    padding-top: 100px;
}
a {
	text-decoration: none;
	line-height: 65px;
    font-size: 34px;
    color: white;
}
.url-address {
	margin-top: -20px;
}
.middle {
	margin-top: -20px;
    height: 400px;
}
.dark-zone {
	background: #373c3f;
	height: 200px;
	width: 75%;
}
h2 {
	margin-top: 20px;
    padding-top: 65px;
    color: white;
    font-size: 30px;
    line-height: 65px;
}
.red-zone {
    height: 200px;
    width: 25%;
    float: right;
    margin-top: -200px;
    background: #bc3183;
}
img {
	width: 100%;
	height: 200px;
}
.bottom {
	height: 500px;
    background: #ebebeb
}
.bottom h2{
	color: #088ca5;
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: -20px;
    font-size: 30px;
    line-height: 44px;
}
p {
	color: #515151;
	font-size: 24px;
	line-height: 36px;
}